In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
# import plotly.plotly as px
# import plotly as px
from plotly import plotly as px
import plotly.graph_objs as go
from plotly import tools
from plotly.offline import init_notebook_mode, plot, iplot

import os
for dirname, _, filenames in os.walk(''):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [ ]:
data=pd.read_csv('Rainfall_1901_2016_PAK.csv')
data

In [ ]:
data.shape

In [ ]:
data.columns

In [ ]:
data.rename(columns={'Rainfall - (MM)':'Rainfall-(mm)',' Year':'Year'},inplace=True)
data.columns

In [ ]:
data.head(10)

# Analysis and Visualize Rainfall During Year 2000 to 2016

In [ ]:
plt.figure(figsize=(15,15))
plt.title('Rainfall During 1990 to 2016')
plt.bar(data.loc[(data.Year>=1990)]["Year"], data.loc[(data.Year>=1990)]["Rainfall-(mm)"], align='center', alpha=0.5)
plt.ylabel('Rain')

plt.show()
# graph=px.bar(data.loc[(data.Year>=1990)],x="Year",y="Rainfall-(mm)",hover_name='Month',color='Month',title='Rainfall During 2000 to 2016')
# graph.show()

In [ ]:
!pip install chart-studio

# Analysis and Visualize Rainfall During Year 2000 to 2016 Using Animation Bar

In [ ]:

plt.figure(figsize=(15,15))
plt.title('Rainfall During 2000 to 2016')
plt.bar(data.loc[(data.Year>=2000)]["Year"], data.loc[(data.Year>=2000)]["Rainfall-(mm)"], align='center', alpha=0.5)
plt.ylabel('Rain')

plt.show()

# Analysis rainfall during Year 1980 to 2000 Using Line Chart

In [ ]:
plt.figure(figsize=(15,15))
plt.title('Rainfall during Year 1980 to 2000 Using Line Chart')
plt.plot(data.loc[(data.Year>=1980)].loc[(data.Year<=2000)]['Year'],data.loc[(data.Year>=1980)].loc[(data.Year<=2000)]['Rainfall-(mm)'])
plt.show()

In [ ]:
sel=data[{'Year','Rainfall-(mm)'}].loc[(data.Year>=1980)].loc[(data.Year<=2000)].loc[(data.Month=="June")]
print(sel)
plt.plot(sel,sel['Year'],sel['Rainfall-(mm)'])
plt.show()
sel1=data[{'Year','Rainfall-(mm)'}].loc[(data.Year>=2001)].loc[(data.Year<=2016)].loc[(data.Month=="June")]
plt.plot(sel1['Year'],sel1['Rainfall-(mm)'])
plt.show()

# Comaparison Between rainfall During 1980 to 2000 and 2001 to 2016 in the month of July

In [ ]:
sel=data[{'Year','Rainfall-(mm)','Month'}].loc[(data.Year>=1980)].loc[(data.Year<=2000)].loc[(data.Month=="July")]
graph=px.line(sel,x='Year',y='Rainfall-(mm)',color='Month',range_x=[1979,2001],text='Rainfall-(mm)',title='Rainfall in July Year 1980 to 2000')
graph.update_traces(texttemplate='%{text:.4s}',textposition='top center')
graph.show()
sel1=data[{'Year','Rainfall-(mm)','Month'}].loc[(data.Year>=2001)].loc[(data.Year<=2016)].loc[(data.Month=="July")]
graph1=px.line(sel1,x='Year',y='Rainfall-(mm)',color='Month',range_x=[2000,2017],text='Rainfall-(mm)',title='Rainfall in July during Year 2001 to 2016')
graph1.update_traces(texttemplate='%{text:.4s}',textposition='top center')
graph1.show()

# Comaparison Between rainfall During 1980 to 2000 and 2001 to 2016 in the month of August

In [ ]:
sel=data[{'Year','Rainfall-(mm)','Month'}].loc[(data.Year>=1980)].loc[(data.Year<=2000)].loc[(data.Month=="August")]
graph=px.line(sel,x='Year',y='Rainfall-(mm)',color='Month',range_x=[1979,2001],text='Rainfall-(mm)',title='Rainfall in August Year 1980 to 2000')
graph.update_traces(texttemplate='%{text:.4s}',textposition='top center')
graph.show()
sel1=data[{'Year','Rainfall-(mm)','Month'}].loc[(data.Year>=2001)].loc[(data.Year<=2016)].loc[(data.Month=="August")]
graph1=px.line(sel1,x='Year',y='Rainfall-(mm)',color='Month',range_x=[2000,2017],text='Rainfall-(mm)',title='Rainfall in August during Year 2001 to 2016')
graph1.update_traces(texttemplate='%{text:.4s}',textposition='top center')
graph1.show()

# Number of Percent Rainfall during Year 2000 to 2016

In [ ]:
sel=data[{'Rainfall-(mm)','Year'}].loc[(data.Year>=2000)]

fig=px.pie(sel,values='Rainfall-(mm)',color='Year',names='Year',labels='Year',width=800,height=600,hole=0.5,title='Number of Percent Rainfall  Year during 2000 to 2016')
fig.show()